.pageTitle {
  font-family: monospace;
  font-size: 4.8rem;
}

.bodyText {
  font-family: serif;
  font-size: 1.8rem;
  text-align: justify;
}

.subtitle {
  font-family: monospace;
  font-size: 2.8rem;
}
