/* Color theme created by Kay McKelly: https://coolors.co/005a49-004c7f-f0f7ff-04001e-400061 */

/**** General ****/
body {
  color: #04001E;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background-color: rgba(240, 247, 255, 0.2);
}

/* TODO part deux: get rid of outline on hamburger when pressed */
nav {
  border-color: rgba(240, 247, 255, 0.6);
  padding: 0px !important;
}

a.nav-link {
  color: #400061 !important;
}

span.icon {
  font-size: 1.7em;
  color: #400061;
}

#headerCol {
  min-height: 100%;
  display: flex;
  align-items: center;
}

#header {
  padding-top: 15px;
}

h1 {
  font-family: 'Megrim', cursive;
  font-size: 4.6em;
  color: #400061;
}

#bumpTitle {
  margin-bottom: 15px;
}

/* TODO: this hover is still red -_- */
.purpleButton {
  background-color: #400061;
  color: #F0F7FF;
}

a.link {
  color: #008068;
}

h2#projectTitle {
  font-size: 2.2em;
}

h3#projectSubtitle {
  color: #005A49;
  font-size: 1.4em;
}
