/**** General ****/
body {
  color: #04001E;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

#headerCol {
  min-height: 100%;
  display: flex;
  align-items: center;
}

h1 {
  font-family: 'Megrim', cursive;
  font-size: 4.6em;
}

#bottomHeaderBtn {
  margin-bottom: 15px;
}

#header {
  padding-top: 15px;
}
