.divider {
    height: 50px;
}

section {
    height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: auto;
}

.bg-1 {
	background: url('../visual/galaxy.jpg') no-repeat center center fixed;
    color: #fff;
    background-size: cover;
}

.bg-2 {
	background: url('../visual/falling.jpg') no-repeat top center fixed;
    color: #fff;
    background-size: cover;
}

.bg-3 {
	background: url('../visual/lightbulbs.png') no-repeat bottom center fixed;
    color: #fff;
    background-size: cover;
}

#footer {
    height: 50px;
    background-color: #585858;
    /*margin-top: 30px;*/
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer a {
  color: #efefef;
}
